node_modules
PortableApps.comInstaller
PortableApps.comLauncher

PrismLauncherPortable/Optional1
PrismLauncherPortable/Data

*.paf.exe
PrismLauncherPortable/PrismLauncherPortable.exe
PrismLauncherPortable/PrismLauncherPortable.ini
PrismLauncherPortable/App/AppInfo/pac_installer_log.ini

PrismLauncherPortable/App/*/
!PrismLauncherPortable/App/AppInfo/

PrismLauncherPortable/Other/Source/PortableApps.comInstaller*
