PortableApps.comInstaller
PortableApps.comLauncher

PolyMCPortable/App/PolyMC/*
!PolyMCPortable/App/PolyMC/whatgoeshere.txt
PolyMCPortable/Data

*.paf.exe
PolyMCPortable/PolyMCPortable.exe
PolyMCPortable/PolyMCPortable.ini
PolyMCPortable/App/AppInfo/pac_installer_log.ini

PolyMCPortable/Other/Source/PortableApps.comInstaller*
